/* FreeCAD theme for phpbb */

/*@import "/freecad.css";*/

html {
	background-color: #191b26;
}

body {
    width: 100%;
    max-width: 1024px;
    margin: 10px auto !important;
    font-family: Arial, Helvetica, sans-serif !important;
    border-radius: 3px;
    }

a {
    color: #0F3472;
}

.postprofile {
    max-width: 140px;
    }

.attachbox {
    max-width: 100%;
}

.attach-image {
    max-height: 100%;
    overflow: hidden;
}

.attach-image img {
    max-height: 99%;
    max-width: 99%;
}

.content img {
    max-width: 100%;
}


